.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.service-card {
  background-color: #ffffff; /* Adjust color as needed */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  max-height: 310px;
  text-align: center;
}

.service-icon {
  width: 300px; /* Adjust size as needed */
  height: 150px;
  margin-bottom: 10px;
}

.service-title {
  font-size: 1em;
  margin: 10px 0;
  color: #0073e6; /* Change to desired color */
}

.service-description {
  font-size: 0.7em;
  color: #333;
}
